{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courier | Fast Delivery</title>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">



    {% block head %}{% endblock %}
</head>

<body>

</body>
{% block content %}{% endblock %}

</html>